:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/car-bg.jpg');
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* -------------------------ADDED CUSTOM HERE------------------------------- */

#login-warning{
  color: red;
  margin: 4px;
}

#content {
  display: flex;
  max-height: 700px; 
  /* ^^ Allows for better overflow in relevant sections (see below) */
}

/* .season-viewer > table{
  overflow:scroll;
} */

table{
  overflow-y: scroll;
  height: 300px;
  display: block;
}

#qualify-results-container{
  display:flex;
  justify-content: space-evenly;
}

#results-top-three {
  display: flex;
  justify-content: space-evenly;
  /* allows for horizontal top 3 */
}

#standings-tables {
  display: flex;
  /* should make things side by side? */
}

.clickable:hover {
  cursor: pointer;
}

.my-modal{
  width: 30%;
  border-radius: 20px;
  position: absolute;
  left: 35%;
  top: 35%;
  /* ^^ these two put the modal center; 50% across+down, minus half of the 30% width = 35% */
}

#driver-dialog-header, #constructor-dialog-header, #circuit-dialog-header {
  display: flex;
  align-items: center;
  padding: 5px;
}

/* -------------------------COLOURS------------------------------- */

.selected-race{
  background-color:cornflowerblue;
}

/* ---------LIGHT MODE COLOURS-------- */
@media (prefers-color-scheme: light) {
    /* NOTE: this is the id=root, not the document root itself.  */
  #root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  .my-modal {

    background-color: rgb(255, 255, 255);
  }
}

/* ---------DARK MODE COLOURS-------- */
@media (prefers-color-scheme: dark) {
  /* NOTE: this is the id=root, not the document root itself.  */
  #root {
    /* color: #213547; */
    /* background-color: #ee0000; */
    /* background-color: #1a1a1a; */

  }

  #root >*{
    background-color: #1a1a1a;
  }

  div {
    border: 1px white solid;
  }

  th {
    border: 1px white dotted;
  }

  a:hover {
    color: #151850;
  }

  button {
    background-color: #333333;
  }

  .my-modal {
    /* color: rgba(255, 255, 255, 0.99); */
    background-color: #1f1d1d;

  }
}

