@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

    /* NOTE: this is the id=root, not the document root itself.  */
#root{
  /* width: 95vw; */
  /* height: 90vh; */
  padding: 10px;
  border-radius: 10px;
  /* background-color: #151850; */
  
}

a {
  font-weight: 500;
  color: #5259e9;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('./assets/car2-bg.jpg');
  background-size: inherit;
  background-position-y: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  font-size: 2.8em;
  line-height: 1.1;
}

h3{
  font-size: 2.5em;
  line-height: 1.1;
}

h4{
  font-size: 2.3em;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


/* -------------------------ADDED CUSTOM HERE------------------------------- */

#login-warning{
  color: red;
  margin: 4px;
}

#res-stn-container{
  border: 2px black solid;
  padding: 3px;
}

.season-viewer{
  border: 1px black solid;
  padding: 3px;
}

#content {
  display: flex;
  height: 70vh; 
  /* ^^ Allows for better overflow in relevant sections? */
}

/* these appear in modals, anywhere else though? should be fine */
figure{
  display: flex;
}

/* .loginForm{
  display: flex;
} */

form > div{
  
}


.table-wrapper{
  display: flex;
  flex-direction: row;
  height: 40vh;
}

Table{
  /* overflow-y: scroll; */
  /* height: 10vh; */
  display: block;
}

#qualify-results-container{
  display:flex;
  justify-content: space-evenly;
}

#results-top-three {
  display: flex;
  justify-content: space-evenly;
  /* allows for horizontal top 3 */
}

#standings-tables {
  display: flex;
  /* should make things side by side? */
}

.clickable:hover {
  cursor: pointer;
}

#driver-dialog-header, #constructor-dialog-header, #circuit-dialog-header {
  display: flex;
  align-items: center;
  padding: 5px;
}

/* -------------------------COLOURS------------------------------- */

.selected-race{
  background-color:cornflowerblue;
}

tr{
  border: 1px black solid;
}

tr:hover{
  background-color:cornflowerblue;
  color: black;
}

/* ---------LIGHT MODE COLOURS-------- */
@media (prefers-color-scheme: light) {
  #root {
    color: #213547;
    background-color: #aad8f7;
  }

    /* div {
    border: 1px black solid;
  } */

  a:hover {
    color:#151850;
  }

  button {
    background-color: #949292;
  }



  
}

/* ---------DARK MODE COLOURS-------- */
@media (prefers-color-scheme: dark) {
  /* NOTE: this is the id=root, not the document root itself.  */
  #root {
    background-color: #1a1a1a;
    /* color: #213547; */
    /* background-color: #ee0000; */
    /* background-color: #1a1a1a; */

  }

  /* div {
    border: 1px white solid;
  } */

  th {
    border: 1px white dotted;
  }

  a:hover {
    color: #151850;
  }

  button {
    background-color: #333333;
  }


}

