@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root > body > #root > */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  /* DONT ADJUST THESE (especially width; helps prevent side-scrolling */
  min-width: 99vw; 
  min-height: 99vh;
  overflow-y: hidden;
  /* ^^DONT ADJUST */
  background-image: url('./assets/car2-bg.jpg');
  background-size: inherit;
  background-position-y: center;
}

    /* NOTE: this is the id=root, not the document root itself. 
    Parent = body */
#root{
  /* padding: 10px; */
  border-radius: 10px;
}

/* Contains header and main content body  */
#container{
  width: 95vw;
  height: 95vh;
  padding: 5px;

}

/* main content body (i.e. content BELOW the header) */
#content {
  /* height defined in jsx (for now) */
  display: flex;
  justify-content: space-evenly;
  /* border-radius: 20px; */
  /* border: 2px red solid; */
}


a {
  font-weight: 500;
  color: #3038e0;
  text-decoration: inherit;
}

/* a:hover {
  color: #8a8ff3;
} */



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{
  font-size: 2.8em;
  line-height: 1.1;
}

h3{
  font-size: 2.5em;
  line-height: 1.1;
}

h4{
  font-size: 2.3em;

}

#login-warning{
  color: red;
  margin: 4px;
}

/* includes results+qualifying view, standing view, and the according headers  */
#res-stn-container{
  /* border: 2px black solid; */
  padding: 8px;
  border-radius: 10px;
  margin: 3px;
  min-width: 60vw;
}

.season-viewer{
  padding: 2px;
  border-radius: 10px;
  margin: 3px;
  max-width: 30vw;
}



/* these appear in modals, anywhere else though? should be fine */
figure{
  display: flex;
}

/* .loginForm{
  display: flex;
} */


.table-wrapper{
  display: flex;
  flex-direction: column;
  /* overflow-y: scroll; */
  max-height: 60vh;
}


 Table{
   display: block; 
} 

#qualify-results-container{
  display:flex;
  justify-content: space-evenly;
}

#results-top-three {
  display: flex;
  justify-content: space-evenly;
  /* allows for horizontal top 3 */
}

.top-three{
  padding-left: 5px;
  padding-right: 5px;
}

/* .top-three > a {
  background-color: black;
} */

#standings-tables {
  display: flex;
  justify-content: space-evenly;
  /* should make things side by side? */
}

.clickable:hover {
  cursor: pointer;
}

#driver-dialog-header, #constructor-dialog-header, #circuit-dialog-header {
  display: flex;
  align-items: center;
  padding: 5px;
}

/* -------------------------COLOURS------------------------------- */

.selected-race{
  background-color:cornflowerblue;
}

tr:hover{
  background-color: cornflowerblue;
}

/* on first load and no race is selected */
#filler{
  background-color: #f4f4f5;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0.5vw;
}

.pos-first{
  background-image: linear-gradient(10deg, 
  rgb(255, 228, 73) 33%, 
  rgb(255, 245, 194) 50%, 
  rgb(255, 228, 73) 75%);
}

.pos-first:hover{
  background-image: linear-gradient(10deg, 
  rgb(255, 245, 194), 
  rgb(255, 245, 194), 
  rgb(255, 228, 73));
}

.pos-second{
  background-image: linear-gradient(10deg, 
  silver 33%, 
  white 50%, 
  silver 75%);
}

.pos-second:hover{
  background-image: linear-gradient(10deg, 
  silver, 
  white, 
  silver);
}

.pos-third{
  background-image: linear-gradient(10deg, 
  rgb(172, 143, 105) 33%,
  rgb(250, 214, 166) 50%,
  rgb(172, 143, 105) 75%);
}

.pos-third:hover{
  background-image: linear-gradient(10deg, 
  rgb(172, 143, 105),
  rgb(250, 214, 166),
  rgb(172, 143, 105));
}


/* ---------LIGHT MODE COLOURS-------- */
@media (prefers-color-scheme: light) {
  #root {
    color: #213547;
    background-color: #aad8f7;
  }


  a:hover {
    color:#151850;
  }

}

/* ---------DARK MODE COLOURS-------- */
@media (prefers-color-scheme: dark) {
  /* NOTE: this is the id=root, not the document root itself.  */
  #root {
    background-color: #1a1a1a;
    /* color: #213547; */
    /* background-color: #ee0000; */
    /* background-color: #1a1a1a; */

  }

  th {
    border: 1px white dotted;
  }

  a:hover {
    color: #151850;
  }


}

